/* global styles */
:root {
    --main-color: #142A53;
    --font-small: 2vw;
    --font-medium: 3vw;
    --font-large: 4vw;
    --padding: 2vh;
    --section-margin: 60px;


    /* Extra Small */
    --space-xs: clamp(0.5rem, 1vw, 1rem);
    /* Small */
    --space-sm: clamp(1rem, 2vw, 1.5rem);
    /* Medium */
    --space-md: clamp(1.5rem, 3vw, 2rem);
    /* Large */
    --space-lg: clamp(2rem, 4vw, 3rem);
    /* Extra Large */
    --space-xl: clamp(3rem, 5vw, 4rem);
}

body {
    font-family: "Almarai", serif;
    font-weight: 400;
    font-size: clamp(1rem, 1.2vw, 1.125rem);
    line-height: 1.6;
    background-color: #fbfbfb;

}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 50px;
}

::-webkit-scrollbar-track {
    box-shadow: 0 0 5px #00000069 inset;
}

::selection {
    background-color: var(--main-color);
    color: #fff;
}

.main-color {
    color: var(--main-color);
}

.main-bg {
    background-color: var(--main-color);
}

/* General Section Spacing */
section {
    padding-top: var(--space-lg);
    padding-bottom: var(--space-lg);
    margin-bottom: var(--space-lg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;

}

h1 {
    font-size: clamp(2rem, 5vw, 4rem);
    line-height: 1.2;
}

h2 {
    font-size: clamp(1.75rem, 4vw, 3rem);
    line-height: 1.3;
}

h4 {
    font-size: clamp(1.25rem, 2.5vw, 2rem);
    line-height: 1.4;
}

h5 {
    font-size: clamp(1.125rem, 2vw, 1.75rem);
    line-height: 1.4;
}

h6 {
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    line-height: 1.5;
}

p {
    font-size: clamp(1rem, 1.3vw, 1.25rem);
    line-height: 1.8;
}


/* Button Text */
.btn {
    font-size: clamp(1rem, 1.2vw, 1.125rem);
    font-weight: bold;
    padding: clamp(0.5rem, 1vw, 0.75rem) clamp(1rem, 2vw, 1.5rem);
}

/* Navbar Links */
.navbar {
    transition: all 0.5s;
    margin-top: 50px !important;
}

.navbar .nav-link {
    font-size: clamp(1rem, 1.2vw, 1.125rem);
    /* color: #fff; */
}

/* Lead Text */
.lead {
    font-size: clamp(1.125rem, 1.5vw, 1.5rem);
}

/* Footer */
footer p {
    font-size: clamp(0.875rem, 1vw, 1rem);
}

.cp {
    cursor: pointer;
}

/* end of the global styles */
.navbar-bg {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    backdrop-filter: blur(130px);
    display: flex;
    max-width: 1248px;
    padding: 15px 24px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.contact-us {
    border-radius: 8px;
    background: #EEF9F9;
    padding: 10px 28px;
    border: none;
    font-size: 17px;
    font-weight: 400;
}

.see-more-btn {
    border-radius: 8px;
    /* padding: 10px 28px; */
    border: none;
    /* font-size: 17px; */
    font-weight: 400;

    font-size: clamp(0.8rem, 1.2vw, 1.125rem);
    /* font-weight: bold; */
    padding: clamp(0.5rem, 1vw, 0.75rem) clamp(1rem, 2vw, 1.5rem);
}

.scrolled {
    background-color: var(--main-color);
}

header.home-page {
    background-image: url(../../assets/imgs/header.webp);
}

header {
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

header .wide-paragraph {
    max-width: 1100px;
    margin: 0 auto;
    padding-left: clamp(2rem, 10vw, 12rem);
    padding-right: clamp(2rem, 10vw, 12rem);
}

.logo-center {
    background-color: #f2f2f2;
    /* background-color: red; */

}

.drop-shadow {
    fill: #FFF;
    filter: drop-shadow(0px 4px 30px rgba(150, 150, 150, 0.16));
}

.logo-center::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    z-index: 11;
    top: -50px;
    left: 11px;
    border-bottom-left-radius: 50%;
    box-shadow: -20px 19px #f2f2f2;
}

.logo-center::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #fff;
    z-index: 11;
    border-bottom-left-radius: 50%;
    box-shadow: -27px 17px #f2f2f2;
    bottom: 0;
    right: -50px;
}

/* steps section */
/* Step Card */
.step-card {
    background: #fff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    min-height: 290px;

    @media (max-width:500px) {
        min-height: 250px;

    }
}

.step-card:hover {
    transform: translateY(-5px);

}

.step-card h4 {
    margin-top: 50px;
    color: var(--main-color);
}

.step-card p {
    color: #3D5579;
}

/* Step Number */
.step-number {
    background: #EDF3FB;
    color: var(--main-color);
    font-size: 1rem;
    font-weight: bold;
    display: block;
    padding: 5px 12px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 30px 0px rgba(150, 150, 150, 0.16);
}

.arrow {
    @media (max-width:500px) {
        margin: auto;
    }
}

/* our values section */
.our-values {
    background-image: url(../../assets/imgs/values.webp);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 70%;
}

.our-values .value-card {
    border-radius: 16.613px;
    background: rgba(8, 15, 30, 0.37);
    box-shadow: 0px 5.538px 41.532px 0px rgba(63, 61, 61, 0.16);
    backdrop-filter: blur(52px);
    padding: 44.3px;

}


/* Partners Section */
.partners-section {
    background-color: #ffffff;
}

/* Partner Logos */
.partner-logo {
    max-width: 100%;
    filter: grayscale(100%);
    /* Makes logos grayscale */
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.partner-logo:hover {
    filter: grayscale(0);
    /* Colorize logo on hover */
    transform: scale(1.05);
}

/* Nav Tabs Customization */

.nav-tabs {
    width: fit-content;
    margin: auto;

}

button.nav-link.active {
    background-color: #142A53 !important;
    color: #fff !important;
}

button.nav-link {
    color: #929394 !important;
    font-size: 16px;
    font-weight: 700;
    border: 0;

}


.swiper.swiper-marquee {
    -webkit-mask-image: linear-gradient(to right, #0000 0%, #f0f0f0 10% 90%, #0000 100%);
    mask-image: linear-gradient(to right, #0000 0%, #f0f0f0 10% 90%, #0000 100%);
}

.swiper-wrapper {
    justify-content: flex-start;
    align-items: center;
}

.swiper-wrapper {
    transition: transform .2s linear;
}

.swiper-slide.logo-slide {
    justify-content: center;
    align-items: center;
    width: 8rem;
    display: flex;
}

.logo-image {
    pointer-events: none;
    -webkit-user-select: none;
    user-select: none;
    width: 100%;
    filter: grayscale(100%);

}

/* .scope img {
    filter: grayscale(100%);

} */

.swiper-slide.logo-slide:hover .logo-image {
    filter: grayscale(0%);

}

.tab-pane {
    visibility: hidden !important;
    height: 0;
    overflow: hidden;
}

.tab-pane.active {
    visibility: visible !important;
    height: auto;
}


/* footer  section */
footer {
    background-image: url(../../assets/imgs/footer-bg.webp);
    background-repeat: no-repeat;

    @media (max-width:500px) {
        background-position: top center;
        background-size: 80% 100%;

    }
}


.footer ul li {
    list-style: none;
    margin-bottom: 8px;
}

.footer ul li a {
    color: rgba(255, 255, 255, 0.8) !important;
    transition: color 0.3s ease-in-out;

}

.footer ul li a:hover {
    color: #ffffff !important;
}

/* ============================== services page ================== */

.services-page {
    background-image: url(../../assets/imgs/services-bg.webp);
    /* background-size: cover; */
    height: 423px !important;

    .services-page h2 {
        margin-top: 120px !important;
    }

}

.services-page-section-2 {

    p.lead {
        max-width: 75%;
        color: #3D5579;

        @media (max-width:500px) {
            max-width: 100%;

        }

        margin: auto;
    }

    .card-custom {
        border: none;
        border-radius: 15px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        transition: 0.3s;
    }

    .card-custom:hover {
        transform: translateY(-5px);
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
    }

    .icon {
        width: 80px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
        border-radius: 40px;
        background: var(--teal-Light, #EEF9F9);
    }
}


.services-page-section-3 {
    background: rgb(111, 182, 209);
    background: linear-gradient(45deg, rgba(111, 182, 209, 1) 0%, rgba(21, 42, 84, 1) 30%, rgba(21, 42, 84, 1) 47%, rgba(21, 42, 84, 1) 75%);
    color: #fff;

    .cyber-security-section {
        padding: 60px 0;
        border-radius: 15px;
    }

    p {
        font-size: clamp(1rem, 1.3vw, 1.1rem);
        margin-bottom: 0;

    }

    p.title-text {
        max-width: 48% !important;

        @media (max-width:600px) {
            max-width: 100% !important;

        }
    }



}

.services-page-section-4 {
    .business-solutions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 60px 0;
    }

    .business-solutions .content {
        max-width: 600px;
    }


    .cta-button {
        background-color: #58C2C3;
        color: #ffffff;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 8px;
        text-decoration: none;
        display: inline-block;
        transition: 0.3s;
    }

    .cta-button:hover {
        background-color: #5DADE2;
    }


}